* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: white;
}

#header #tube {
    background-color: red;
    color: black;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid rgb(117, 108, 108);
}

#sidebar ul a {
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
}

#sidebar ul a:hover {
    background-color: #655c5c;
    border-radius: 5px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    background: radial-gradient( rgb(199, 112, 29), rgb(152, 1, 1));
    aspect-ratio: 16 / 9;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 8px solid darkred;
}

.metube-item .thumbnail-placeholder img {
    width: 95%;
    padding: 10px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: white;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: white;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}