/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2 {
    max-width: 350px;
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    box-shadow: 4px 4px 8px #412f4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.card-style-2 img {
    border-radius: 50%;
    width: 60%;
}

.card-style-2 .profile-pic-container {
    display: flex; 
    justify-content: center;
    margin: 12px;
}

.card-style-2 h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
}

.card-style-2 p {
    font-size: 15px;
    text-align: center;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.card-style-2 .animagram-footer {
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.card-style-2 .animagram-header {
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.card-style-2 .brand-name {
    margin-top: 10px;
    font-size: 28px;
}