@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculptors' Haven: Navbar 1 (Start) */

#hero-1 {
    background-image: url("../images/clay-hero-1.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar {
    background: linear-gradient(to bottom, rgb(161, 97, 37), #6d4b3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 24px;
}

#navbar a:hover {
    background-color: rgb(93, 48, 0);
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
}

#navbar .cta-button {
    background-color: white;
    color: black;
    border: 3px solid rgb(106, 55, 0);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar .cta-button:hover {
    background-color: rgb(231, 183, 132);
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient(
        to bottom, 
        rgb(205, 128, 50), 
        rgb(128, 64, 0));
        display: flex;
        justify-content: space-between;
}

#header {
    position: sticky;
    top: 0px;
}

#footer {
    background: linear-gradient(to bottom, rgb(0, 128, 11), #024801);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

/* Sculptors' Haven: Navbar 1 (End) */

/* Angel Ears: Navbar 2 (Start) */

#hero-2 {
    background-image: url("../images/hero-2.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar-2 {
    background: linear-gradient(to bottom, rgb(255, 106, 0), #732304);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-2 a:hover {
    background-color: rgb(251, 149, 60);
}

#navbar-2 #logo {
    margin-right: auto;
    font-size: 24px;
}

#navbar-2 .cta-button-2 {
    background-color: rgb(193, 18, 18);
    color: white;
    border: 3px solid rgb(137, 0, 0);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-2 .cta-button-2:hover {
    background-color: rgb(190, 45, 45);
}

#layout-2 {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar-2 {
    position: sticky;
    top: 0px;
}

#navbar-bottom-2 {
    background: linear-gradient(
        to bottom, 
        rgb(235, 70, 5), 
        rgb(148, 30, 0));
        display: flex;
        justify-content: space-between;
}

#navbar-bottom-2 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#header-2 {
    position: sticky;
    top: 0px;
}

#footer-2 {
    background: linear-gradient(to bottom, rgb(250, 175, 0), #482f01);
    color: white;
    padding: 12px;
}

#footer-2 a {
    text-decoration: none;
    color: white;
}

#footer-navbar-2 {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-2 {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-2 div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar-2 a {
    padding: 8px 0px;
}

/* Angel Ears: Navbar 2 (End) */

/* Tailored Spooks: Navbar 3 (Start) */

#hero-3 {
    background-image: url("../images/hero-3.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar-3 {
    background: linear-gradient(to bottom, rgb(136, 0, 255), #593e6d);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

#navbar-3 a {
    text-decoration: none;
    color: rgb(255, 98, 0);
    font-size: 24px;
    padding: 24px;
}

#navbar-3 a:hover {
    background-color: rgb(88, 28, 126);
}

#navbar-3 img {
    width: 200px;
}

#navbar-3 #logo {
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
}

#navbar-3 .cta-button-3 {
    background-color: black;
    color: rgb(255, 98, 0);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout-3 {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar-3 {
    position: sticky;
    top: 0px;
}

#navbar-bottom-3 {
    background: linear-gradient(
        to bottom, 
        rgb(128, 50, 205), 
        rgb(66, 0, 128));
        display: flex;
        justify-content: space-between;
}

#navbar-bottom-3 a {
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-size: 20px;
    padding: 12px 36px;
}

#navbar-bottom-3 a:hover {
    background-color: rgb(95, 24, 133);
}

#header-3 {
    position: sticky;
    top: 0px;
}

#footer-3 {
    background: linear-gradient(to bottom, rgb(49, 0, 128), #1f0148);
    color: rgb(255, 98, 0);
    padding: 12px;
}

#footer-3 a {
    text-decoration: none;
    color: black;
}

#footer-navbar-3 {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-3 {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-3 div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar-3 a {
    padding: 8px 0px;
}

#layout-3 p {
    background-color: black;
    color: rgb(83, 0, 128);
    border: 5px solid rgb(255, 111, 0);
    font-size: 40px;
    padding: 36px;
    margin: 36px;
}

#layout-3 a {
    color: rgb(83, 0, 128);
}

#layout-3 a:hover {
    color: rgb(95, 53, 118);
}

/* Tailored Spooks: Navbar 3 (End) */