@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculptors' Haven: Navbar 1 (Start) */

#hero-1 {
    background-image: url("../images/clay-hero-1.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar {
    background: linear-gradient(to bottom, rgb(161, 97, 37), #6d4b3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 24px;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient(
        to bottom, 
        rgb(205, 128, 50), 
        rgb(128, 64, 0));
        display: flex;
        justify-content: space-between;
}

#header {
    position: sticky;
    top: 0px;
}

#footer {
    background: linear-gradient(to bottom, rgb(0, 128, 11), #024801);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

/* Sculptors' Haven: Navbar 1 (End) */

#navbar-2 {
    background: linear-gradient(to bottom, red, #6d3e3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-2 img {
    width: 200px;
}

#navbar-2 #logo {
    margin-right: auto;
}

#navbar-2 .cta-button {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout-2 {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar-2 {
    position: sticky;
    top: 0px;
}

#navbar-bottom-2 {
    background: linear-gradient(
        to bottom, 
        rgb(205, 50, 50), 
        rgb(128, 0, 0));
        display: flex;
        justify-content: space-between;
}

#navbar-bottom-2 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#header-2 {
    position: sticky;
    top: 0px;
}

#footer-2 {
    background: linear-gradient(to bottom, rgb(128, 0, 0), #480101);
    color: white;
    padding: 12px;
}

#footer-2 a {
    text-decoration: none;
    color: white;
}

#footer-navbar-2 {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-2 {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar-2 div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar-2 a {
    padding: 8px 0px;
}