@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/clay-hero-1.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #606C38, #283618);
}

#navbar a {
    text-decoration: none;
    padding: 24px;
    color: white;
}

#navbar a:hover {
    background-color: #81914c;
    color: #e8ff9e;
    border-radius: 12px;
}

#navbar #logo h4 {
    font-size: 20px;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

#navbar #logo {
    background: #DDA15E;
    border: 3px solid #BC6C25;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#layout img {
    width: 300px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    margin: 36px;
}

#layout a {
    background-color: #283618;
    border: 3px solid #606C38;
    padding: 24px;
    margin: 36px;
    text-decoration: none;
    color: white;
}

#footer {
    background: linear-gradient(to bottom, #FEFAE0, #DDA15E);
    color: black;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}