* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: whitesmoke;
}

#layout {
    display: grid;
    grid-template-columns: 250px 1fr 3fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "similar similar";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
    padding: 6px;
}

#header #m {
    color: red;
}

#header #i {
    color: orange;
}

#header #ii {
    color: rgb(255, 221, 0);
}

#header #b {
    color: green;
}

#header #a {
    color: blue;
}

#header #y {
    color: blueviolet;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#sidebar img {
    width: 120px;
    padding: 12px;
    margin: 0px;
    border-radius: 4px;
}

#sidebar img:hover {
    background-color: rgb(167, 167, 167);
    border: 2px solid black;
    border-radius: 4px;
    filter: opacity(70%);
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.mebay-selected-item {
    display: flex;
    align-items: right;
    margin: 12px;
    padding: 12px;
}

.mebay-selected-item .text-container h2 {
    color: #111111;
    font-size: 24px;
}

.text-container {
    padding: 24px;
}

.text-container p {
    font-size: 20px;
}

.text-container p ul {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.text-container p ul li {
    list-style-type: none;
}

.mebay-selected-item .image-container {
    padding: 12px;
    margin: 12px;
}

.selected-product-info {
    font-size: 20px;
}

#similar {
    grid-area: similar;
    display: flex;
    flex-wrap: wrap;
    padding: 36px;
    margin: 24px;
}

.mebay-item {
    flex: 100px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.mebay-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
}

.mebay-item .thumbnail-placeholder img:hover {
    filter: opacity(70%);
    border: 2px solid black;
    border-radius: 4px;
}

.mebay-item h4 {
    margin: 4px;
}

.mebay-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.mebay-item h4 a:hover {
    text-decoration: underline;
}

.mebay-item .product-details {
    margin: 8px;
    font-size: 14px;
}

.mebay-item .product-price {
    margin-bottom: 8px;
}

.mebay-item .product-price a {
    text-decoration: line-through;
    color: gray;
}

.mebay-item .shipping-and-feedback {
    color: gray;
}