* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.single-column {
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.orange-container {
    background-color: rgb(205, 111, 16);
    padding: 48px 0px;
    color: white;
}

#candy-1 p {
    margin-left: auto;
    font-size: 12px;
    background-color: rgb(163, 102, 28);
    padding: 24px;
}

.red-container {
    background-color: rgb(192, 55, 55);
    padding: 48px 0px;
    color: white;
}

#candy-2 p {
    font-size: 12px;
    background-color: rgb(162, 16, 16);
    color: white;
    padding: 24px;
}
