@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.single-column {
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.orange-container {
    background-color: rgb(205, 111, 16);
    padding: 48px 0px;
    color: white;
}

#candy-1 p {
    margin-left: auto;
    font-size: 12px;
    background-color: rgb(163, 102, 28);
    padding: 24px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

.red-container {
    background-color: rgb(192, 55, 55);
    padding: 48px 0px;
    color: white;
}

#candy-2 p {
    font-size: 12px;
    background-color: rgb(162, 16, 16);
    color: white;
    padding: 24px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

.green-container {
    background-color: rgb(100, 200, 100);
    padding: 48px 0px;
    color: white;
}

#candy-3 p {
    background-color: rgb(225, 107, 107);
    font-size: 12px;
    color: white;
    padding: 24px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

h3 {
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
}