/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: yellow;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    box-shadow: 8px 8px 8px black;
}

.post-it-2 {
    background-color: yellow;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    box-shadow: 8px 8px 8px black;
}

.post-it-lime {
    background-color: limegreen;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    box-shadow: 8px 8px 8px black;
}

.post-it-lime img {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    background-color: beige;
}

.post-it-lightblue{
    background-color: lightblue;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    font-size: 24px;
    font-weight: bolder;
    box-shadow: 8px 8px 8px black;
}

.post-it-lightblue {
    font-size: 15px;
}

.post-it-lightblue-2 {
    background-color: lightblue;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 8px 8px 8px black;
}

.post-it-lightblue-2 p {
    font-size: 12px;
}

.post-it-lightblue-2 h4{
    margin: 12px;
    font-size: 12px;
}

.post-it-pink{
    background-color: pink;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    box-shadow: 8px 8px 8px black;
}

.post-it-pink-2 {
    background-color: pink;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    box-shadow: 8px 8px 8px black;
    font-size: 15px;
}

.post-it-lime-2 {
    background-color: limegreen;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family: Courier;
    font-size: 18px;
    box-shadow: 8px 8px 8px black;
}

.post-it-lime-2 ul {
    font-size: 18px;
    padding: 24px;
}