@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(230, 240, 200);
}

#navbar {
    background-color: #28763B;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 48px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar #logo img {
    width: 200px;
}

#navbar .cta-button {
    background-color: #AAD037;
    color: black;
    border: 4px solid #7faa00;
    border-radius: 10px;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    box-shadow: 2px 2px 2px #232b0b;
}

#navbar .cta-button:hover {
    background-color: #bcd869;
}

#navbar-bottom {
    background-color: #BF8D67; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#navbar-bottom a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 36px;
}

#navbar-bottom a:hover {
    background-color:#f3b686;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #c0997b;
    width: 100%;
    min-width: 200px;
}

#navbar-bottom .dropdown-menu a:hover {
    background-color: #ecb082;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#hero {
    background-image: url("../images/hero-burger.jpg");
    height: 40vh;
    background-size: cover;
    background-position: left right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 80%;
}

#hero h2 {
    color: white;
    padding: 12px;
    margin: 12px;
    
}

#hero p {
    font-size: 15px;
    color: white;
    padding: 12px;
    margin: 12px;
}

#hero .cta-button {
    text-decoration: none;
    color: white;
    background-color: #28763B;
    padding: 12px;
    margin: 12px;
}

#hero .cta-button:hover {
    background-color: #477c54;
}

#hero-2 {
    background-image: url("../images/delivery-hero.jpg");
    height: 40vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 80%;
    margin-top: 24px;
}

#hero-2 h2 {
    color: white;
    padding: 12px;
    margin: 12px;
    font-size: 48px;
}

#hero-2 p {
    font-size: 15px;
    color: white;
    padding: 12px;
    margin: 12px;
}

#hero-2 .cta-button {
    text-decoration: none;
    color: white;
    background-color: #28763B;
    padding: 12px;
    margin: 12px;
}

#hero-2 .cta-button:hover {
    background-color: #477c54;
}

#card {
    display: grid;
    background-color: #BF8D68;
    border: 5px solid #75573f;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "heading heading"
        "info img"
        "button button";
    padding: 12px;
    margin: 24px;
}

#card-section h1 {
    text-align: center;
}

#card h2 {
    font-size: 36px;
    color: white;
    grid-area: heading;
    padding: 12px;
    margin: 12px;
}

#card img {
    grid-area: img;
    width: 300px;
    padding: 12px;
    margin: 12px;
}

#card p {
    color: white;
    grid-area: info;
    font-size: 18px;
    margin: 12px;
    padding: 12px;
}

#card .cta-button {
    grid-area: button;
    background-color: #28763B;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 12px;
    margin: 12px;
}

#card .cta-button:hover {
    background-color: #477c54;
}

.single-column {
    display: flex;
    flex-wrap: wrap;
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    color:black;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 4px solid #445b00;
    border-radius: 10px;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h4 {
    font-size: 30px;
    margin: 12px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.card a {
    text-decoration: none;
    color: black;
    background-color:#7faa00;
    box-shadow:#222e00;
    padding: 12px;
    margin: 12px;
}

.card a:hover {
    background-color:rgb(183, 218, 78);
}

#footer {
    background-color: #28763B;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

#footer #logo img {
    width: 200px;
    padding: 6px;
    margin: 12px;
}

/* Mobile Responsiveness */

@media screen and (max-width: 480px) {
    #navbar {
        background-color: #28763B;
        display: flex;
        align-items: center;
    }
    
    #navbar a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 24px;
    }

    #navbar #logo {
        margin-right: auto;
        font-weight: bold;
        font-size: 48px;
        padding-top: 13px;
        padding-bottom: 12px;
    }
    
    #navbar #logo img {
        width: 200px;
    }
    
    #navbar .cta-button {
        background-color: #AAD037;
        color: black;
        border: 4px solid #7faa00;
        border-radius: 10px;
        padding: 16px 24px;
        font-size: 18px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
        box-shadow: 2px 2px 2px #232b0b;
    }
    
    #navbar .cta-button:hover {
        background-color: #bcd869;
    }
    
    #navbar-bottom {
        background-color: #BF8D67; 
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    
    #navbar-bottom a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 36px;
    }
    
    #navbar-bottom a:hover {
        background-color:#f3b686;
    }
    
    .dropdown-container {
        position: relative;
    }
    
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.25s,
            visibility 0.25s;
        z-index: 10;
    }
    
    .dropdown-container:last-child .dropdown-menu {
        right: 0px;
    }
    
    .dropdown-container:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    
    .dropdown-menu a {
        background-color: #c0997b;
        width: 100%;
        min-width: 200px;
    }
    
    #navbar-bottom .dropdown-menu a:hover {
        background-color: #ecb082;
    }
    
    #layout {
        width: 800px;
        margin: 48px auto;
        font-size: 24px;
        height: 200vh;
    }
    
    #hero {
        background-image: url("../images/hero-burger.jpg");
        height: 40vh;
        background-size: cover;
        background-position: left right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        opacity: 80%;
    }
    
    #hero h2 {
        color: white;
        padding: 12px;
        margin: 12px;
        
    }
    
    #hero p {
        font-size: 15px;
        color: white;
        padding: 12px;
        margin: 12px;
    }
    
    #hero .cta-button {
        text-decoration: none;
        color: white;
        background-color: #28763B;
        padding: 12px;
        margin: 12px;
    }
    
    #hero .cta-button:hover {
        background-color: #477c54;
    }
    
    #hero-2 {
        background-image: url("../images/delivery-hero.jpg");
        height: 40vh;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        opacity: 80%;
        margin-top: 24px;
    }
    
    #hero-2 h2 {
        color: white;
        padding: 12px;
        margin: 12px;
        font-size: 48px;
    }
    
    #hero-2 p {
        font-size: 15px;
        color: white;
        padding: 12px;
        margin: 12px;
    }
    
    #hero-2 .cta-button {
        text-decoration: none;
        color: white;
        background-color: #28763B;
        padding: 12px;
        margin: 12px;
    }
    
    #hero-2 .cta-button:hover {
        background-color: #477c54;
    }
    
    #card {
        display: grid;
        background-color: #BF8D68;
        border: 5px solid #75573f;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "heading heading"
            "info img"
            "button button";
        padding: 12px;
        margin: 24px;
    }
    
    #card-section h1 {
        text-align: center;
    }
    
    #card h2 {
        font-size: 36px;
        color: white;
        grid-area: heading;
        padding: 12px;
        margin: 12px;
    }
    
    #card img {
        grid-area: img;
        width: 300px;
        padding: 12px;
        margin: 12px;
    }
    
    #card p {
        color: white;
        grid-area: info;
        font-size: 18px;
        margin: 12px;
        padding: 12px;
    }
    
    #card .cta-button {
        grid-area: button;
        background-color: #28763B;
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 12px;
        margin: 12px;
    }
    
    #card .cta-button:hover {
        background-color: #477c54;
    }
    
    .single-column {
        display: flex;
        flex-wrap: wrap;
        min-width: 600px;
        max-width: 1200px;
        margin: 0px auto;
    }
    
    #card-section {
        color:black;
        padding: 48px;
    }
    
    .card-container {
        display: flex;
        justify-content: space-between;
    }
    
    .card {
        flex: 1;
        border: 4px solid #445b00;
        border-radius: 10px;
        padding: 36px;
        text-align: center;
        margin: 36px;
    }
    
    .card h4 {
        font-size: 30px;
        margin: 12px;
    }
    
    .card img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    
    }
    
    .card a {
        text-decoration: none;
        color: black;
        background-color:#7faa00;
        box-shadow:#222e00;
        padding: 12px;
        margin: 12px;
    }
    
    .card a:hover {
        background-color:rgb(183, 218, 78);
    }
    
    #footer {
        background-color: #28763B;
        color: white;
        padding: 12px;
    }
    
    #footer a {
        text-decoration: none;
        color: white;
    }
    
    #footer-navbar {
        width: 800px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    
    #footer-columns-navbar {
        width: 800px;
        margin: 0px auto;
        padding: 48px 0px;
        display: flex;
        justify-content: space-between;
    }
    
    #footer-columns-navbar div {
        display: flex;
        flex-direction: column;
    }
    
    #footer-columns-navbar a {
        padding: 8px 0px;
    }
    
    #footer #logo img {
        width: 200px;
        padding: 6px;
        margin: 12px;
    }

}

/* Tablet Responsiveness */

@media screen and (max-width: 768px) and (min-width: 480px) {
    #navbar {
        background-color: #28763B;
        display: flex;
        align-items: center;
    }
    
    #navbar a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 24px;
    }

    #navbar #logo {
        margin-right: auto;
        font-weight: bold;
        font-size: 48px;
        padding-top: 13px;
        padding-bottom: 12px;
    }
    
    #navbar #logo img {
        width: 200px;
    }
    
    #navbar .cta-button {
        background-color: #AAD037;
        color: black;
        border: 4px solid #7faa00;
        border-radius: 10px;
        padding: 16px 24px;
        font-size: 18px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
        box-shadow: 2px 2px 2px #232b0b;
    }
    
    #navbar .cta-button:hover {
        background-color: #bcd869;
    }
    
    #navbar-bottom {
        background-color: #BF8D67; 
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    
    #navbar-bottom a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 36px;
    }
    
    #navbar-bottom a:hover {
        background-color:#f3b686;
    }
    
    .dropdown-container {
        position: relative;
    }
    
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.25s,
            visibility 0.25s;
        z-index: 10;
    }
    
    .dropdown-container:last-child .dropdown-menu {
        right: 0px;
    }
    
    .dropdown-container:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    
    .dropdown-menu a {
        background-color: #c0997b;
        width: 100%;
        min-width: 200px;
    }
    
    #navbar-bottom .dropdown-menu a:hover {
        background-color: #ecb082;
    }
    
    #layout {
        width: 800px;
        margin: 48px auto;
        font-size: 24px;
        height: 200vh;
    }
    
    #hero {
        background-image: url("../images/hero-burger.jpg");
        height: 40vh;
        background-size: cover;
        background-position: left right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        opacity: 80%;
    }
    
    #hero h2 {
        color: white;
        padding: 12px;
        margin: 12px;
        
    }
    
    #hero p {
        font-size: 15px;
        color: white;
        padding: 12px;
        margin: 12px;
    }
    
    #hero .cta-button {
        text-decoration: none;
        color: white;
        background-color: #28763B;
        padding: 12px;
        margin: 12px;
    }
    
    #hero .cta-button:hover {
        background-color: #477c54;
    }
    
    #hero-2 {
        background-image: url("../images/delivery-hero.jpg");
        height: 40vh;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        opacity: 80%;
        margin-top: 24px;
    }
    
    #hero-2 h2 {
        color: white;
        padding: 12px;
        margin: 12px;
        font-size: 48px;
    }
    
    #hero-2 p {
        font-size: 15px;
        color: white;
        padding: 12px;
        margin: 12px;
    }
    
    #hero-2 .cta-button {
        text-decoration: none;
        color: white;
        background-color: #28763B;
        padding: 12px;
        margin: 12px;
    }
    
    #hero-2 .cta-button:hover {
        background-color: #477c54;
    }
    
    #card {
        display: grid;
        background-color: #BF8D68;
        border: 5px solid #75573f;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "heading heading"
            "info img"
            "button button";
        padding: 12px;
        margin: 24px;
    }
    
    #card-section h1 {
        text-align: center;
    }
    
    #card h2 {
        font-size: 36px;
        color: white;
        grid-area: heading;
        padding: 12px;
        margin: 12px;
    }
    
    #card img {
        grid-area: img;
        width: 300px;
        padding: 12px;
        margin: 12px;
    }
    
    #card p {
        color: white;
        grid-area: info;
        font-size: 18px;
        margin: 12px;
        padding: 12px;
    }
    
    #card .cta-button {
        grid-area: button;
        background-color: #28763B;
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 12px;
        margin: 12px;
    }
    
    #card .cta-button:hover {
        background-color: #477c54;
    }
    
    .single-column {
        display: flex;
        flex-wrap: wrap;
        min-width: 600px;
        max-width: 1200px;
        margin: 0px auto;
    }
    
    #card-section {
        color:black;
        padding: 48px;
    }
    
    .card-container {
        display: flex;
        justify-content: space-between;
    }
    
    .card {
        flex: 1;
        border: 4px solid #445b00;
        border-radius: 10px;
        padding: 36px;
        text-align: center;
        margin: 36px;
    }
    
    .card h4 {
        font-size: 30px;
        margin: 12px;
    }
    
    .card img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    
    }
    
    .card a {
        text-decoration: none;
        color: black;
        background-color:#7faa00;
        box-shadow:#222e00;
        padding: 12px;
        margin: 12px;
    }
    
    .card a:hover {
        background-color:rgb(183, 218, 78);
    }
    
    #footer {
        background-color: #28763B;
        color: white;
        padding: 12px;
    }
    
    #footer a {
        text-decoration: none;
        color: white;
    }
    
    #footer-navbar {
        width: 800px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    
    #footer-columns-navbar {
        width: 800px;
        margin: 0px auto;
        padding: 48px 0px;
        display: flex;
        justify-content: space-between;
    }
    
    #footer-columns-navbar div {
        display: flex;
        flex-direction: column;
    }
    
    #footer-columns-navbar a {
        padding: 8px 0px;
    }
    
    #footer #logo img {
        width: 200px;
        padding: 6px;
        margin: 12px;
    }

}