/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

#license {
    width: 700px;
    border-radius: 24px;
    background: linear-gradient(to left, #FFA61D, #FFB528, #FFCB39);
    border: 3px solid black;
    box-shadow: 8px 8px 8px black;
}

h1 {
    padding: 15px;
    text-align: left;
    color: darkblue;
    font-size: 40px;
    margin: 0px;
}

#left-side {
    display: inline-block;
    width: 65%;
}

#right-side {
    display: inline-block;
}

h4 {
    display: block;
    width: 400px;
    text-align: center;
    padding: 12px;
    background-color: darkblue;
    color: white;
    font-family: Arial;
    font-size: 30px;
    margin: 0px 12px 12px 12px;
}

#id-and-expiration div {
    display: inline-block;
    color: darkblue;
    font-family: Arial;
    font-size: 20px;
    margin-left: 12px;
}

#id-and-expiration span {
    color: red;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

#address {
    font-weight: bold;
    color: black;
    font-family: Arial;
    font-size: 20px;
    padding: 12px;
}

#data-left {
    color: darkblue;
    display: inline-block;
    font-family: Arial;
}

#data-left span {
    display: inline-block;
    color: red;
    font-family: Arial;
    font-weight: bold;
}

#data-fields {
    padding: 12px;
    display: inline-block;
}

#small-pic {
    display: inline-block;
    margin: 12px;
    text-align: left;
    filter: opacity( 65%);
}

#small-pic img {
    width: 100px;
}

#data-right {
    color: darkblue;
    font-family: Arial;
    display: inline-block;
    text-align: center;
}

#data-right span {
    display: inline-block;
    color: red;
    font-family: Arial;
    font-weight: bold;
}

#signature {
    font-family: "Ms Madi", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

img {
    display: block;
    width: 170%;
}

#donor-and-real-id {
    display: inline-block;
    padding: 10px;
    margin: 6px;
}

#donor {
    display: inline-block;
    color: red;
    font-family: Arial;
    font-weight: bold;
}

#real-id {
    display: inline-block;
    color: yellow;
}
