* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgb(255, 146, 83);
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 24px;
}

#navbar a:hover {
    background-color:rgb(234, 131, 75);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(183, 117, 81);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background-color: rgb(205, 132, 90);
}

#hero {
    background-image: url("../images/hero.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 3px solid rgb(255, 158, 94);
    border-radius: 24px;
    background-color: rgb(255, 229, 212);
    padding: 12px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(44, 41, 41);
    filter: opacity(94%);
}

.card img {
    width: 300px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgb(131, 118, 109);
}

.card h2 {
    font-size: 30px;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: underline;
}

.card p {
    font-size: 18px;
    margin: 12px;
}