/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.red {
    background-color: red;
    border-color: crimson;
}

.orange {
    background-color: orange;
    border-color: orangered;
}

.yellow {
    background-color: yellow;
    border-color: gold;
}

.green{
    background-color: green;
    border-color: darkgreen
}

.cyan {
    background-color: cyan;
    border-color: darkcyan;
}

.blue {
    background-color: blue;
    border-color: darkblue;
}

.purple {
    background-color: violet;
    border-color: darkviolet;
}

.black {
    background-color: black;
    border-color: black;
}

.white {
    background-color: white;
    border-color: wheat;
}